

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product View</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product View</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Table -->  
    
    <section class="content">
      <div class="row">
        <div class="col-md-12">

    <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title" >List of Products</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="overflow:auto;">
                <table id="productViewTable" class="table table-bordered" style="width:100%">
                  <thead class="thead-light">
                  <tr>
                <tr class="text-white">
                    <th scope="col">Sl No</th>
                    <th scope="col">View Date</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Short Desc</th>
                    <th scope="col">Long Desc</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Category</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">ProductURL</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Company</th>
                    <th scope="col">Province</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<br><br>
